body{
    margin:0;
    padding:0;
    display:flex;
    background: #ccc;
    font-family: Arial, Helvetica, sans-serif;


}

.container{
    width: 100%;
    text-align: center;
    margin-top: 20px;

}
#title{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    

}
#inputText{
    width: 300px;
    background-color: orange;
    height: 46px;
    border: 1px solid crimson;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border: 5px dotted orange;
    border-radius: 20px;
    color:black;
    

}
#addToDo{
    height: 45px;
    width: 80px;
    border: 3px solid greenyellow;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-color:#5E35B1;
   

}
#addToDo:active {
    background: lime;
    color:darkred
}
#clearToDo{
    width:80px;
    height: 45px;
    border: 3px solid greenyellow;
    outline:none;
    text-align: center;
    border-radius: 10px;
    background-color: teal;
    cursor: pointer;
    
}
#clearToDo:active{
    background: crimson;
    color: lawngreen;
    
    

}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size:40px;
    color:black;
    text-transform:capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
body{
    background-color: rgb(28, 129, 143);
    color: black;
}
#altbolge{
    background-color: crimson;
    background-repeat: no-repeat;
    
}

